<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Welcome</h3>
      </div>
      <hr />
       <div class="row">
       <!-- Display the current logged in username and the link to logout
        -->
      <div class="alert alert-success">You are logged in as {{ username }}.</div>
      <!-- 'url' template tage takes the name of the URL pattern
           as an argument and renders the URL path. Here it renders
           the path to the logout URL.
      -->
      <a href="{% url 'logout' %}">Logout</a>
         
       </div>
       </div>
    </div>
  </body>
</html>