{% extends 'blank.html' %} 


{%block 'btn-ayuda'%}
  <li><a class="logout" style="cursor:pointer; cursor: hand" onclick="iniciarTutorial();"><i class="fa fa-question-circle"></i> Ayuda</a></li>
{%endblock%}

{% block 'body' %}
  

                      
                  <div class="col-lg-12 col-md-11 col-sm-10">
                      <h1>Ambiente de Autoevaluación</h1>
                      <p class="lead">Bienvenido, ponemos a su disposición una visita guiada por la aplicacion que le ayudara a comprender su funcionamiento.</p>
                      <p class="lead"><a id="comencemos" href="#">¡Comencemos!</a></p>
                  </div>


{% endblock %}

{% block 'external_scripts' %}
{{ block.super }}

<script>
       
$('#comencemos').click(function(){
    iniciarTutorial();
});

function iniciarTutorial(){
//initialize instance
var enjoyhint_instance = new EnjoyHint({});

//simple config.
//Only one step - highlighting(with description) "New" button
//hide EnjoyHint after a click on the button.
var enjoyhint_script_steps = [
  {
        "next #inicio": 'Aquí podrás ver un resumen general de tus materias.',
                    "skipButton" : {className: "mySkip", text: "salir"},
    },
    {
        "click #preguntas": 'Aquí podrás gestionar las preguntas o <br>items que podrás incluir en los examenes luego',
                    "skipButton" : {className: "mySkip", text: "salir"},
    },
    {
        "next #preguntas-nueva": 'De esta manera podrás navegar por las opciones.',
                    "skipButton" : {className: "mySkip", text: "salir"},
    },
    {
        "next #asignaturas": 'Aquí podras crear, modificar o eliminar una asignatura, en ella podrás <br> cargar consignas luego para generar examenes. <br>Haz click aquí para desplegar...',
                    "skipButton" : {className: "mySkip", text: "salir"},
    },
    {
        "next #examenes": 'Aquí podras crear, modificar o eliminar una los exámenes, a partir <br> de las asignaturas y preguntas creadas previamente',
                    "skipButton" : {className: "mySkip", text: "salir"},
    },     

];

//set script config
enjoyhint_instance.set(enjoyhint_script_steps);

//run Enjoyhint script
enjoyhint_instance.run();

}

  </script>



  {% endblock %}