{% extends 'blank.html' %} 
{% block 'body' %}
  
  <h3><i class="fa fa-angle-right"></i> Nueva Asignatura</h3>
            <div class="row mt"> 

              <!-- INPUT MESSAGES -->
            <div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">       
                      <form class="form-horizontal style-form" method="get">
                        <div>
                          <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Título</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Asignatura padre</label>
                            <div class="col-sm-6">
                                <select class="form-control">
                                  <option>Sin asignatura padre</option>
                                  <option>Proyecto Software</option>
                                  <option>Ingeniería de sofware I</option>
                                  <option>Ingeniería de sofware II</option>
                                  <option>Ingeniería de sofware III</option>
                                </select>
                            </div>
                          </div>
                        </div>
                         <button type="button" style="background-color: #6E0404;border: 1px solid #A50505;float:right;" class="btn btn-success">Guardar</button>
                        <br><br>
                      </form>   
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->
            </div><!-- /row -->


            </div>

{% endblock %}
